[class*="col-"]{
    background-color: #f5c3cb;
    border: 1px solid black;
    min-height: 200px;
}

/* _______inizio l'header________ */
.col-1{
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.col-1:last-child{
    border-right: 1px solid black;
}

p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
/* __________inizio prima sessione_______ */

.col-12{
    border-bottom: 1px solid black;
    position: relative;
}

/* _________inizio seconda sessione_________ */

.col-8{
    border-right: 2px solid black;
    position: relative;
}
.col-2{
    border-right: 2px solid black;
    position: relative;
}

.col-2:last-child{
    border-right: 1px solid black;
}

/* _______inizio terza sessione_________ */

.col-6{
    border-right: 2px solid black;
    position: relative;
}
/* _______inizio quarta footer_________ */

.white-salmon{
    border: 1px solid white;
    background-color: #e18583;
    text-align: center;
}

.padding{
    padding: 1%;
}

.col-6:last-child{
    border-right: 1px solid black;
}

div.col-6 div.white-salmon:last-child{
    border-right: 1px solid white;
}
